#container {
  padding: 4px;
}

#left {
  float: left;
  margin: 5px;
  width: 200px;
  border-style: solid;
  border-width: 2px;
  padding: 10px;
}

#right {
  float: left;
  margin: 5px;
  width: 200px;
  border-style: solid;
  border-width: 2px;
  padding: 10px;
}

.object {
  display: block;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}